Source: #PACKAGE#
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/#PACKAGE#
#Vcs-Git: https://salsa.debian.org/debian/#PACKAGE#.git

Package: #PACKAGE#-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: #PACKAGE#BROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: #PACKAGE#BROKEN
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
