Source: duprkit
Section: admin
Homepage: https://github.com/dupr/duprkit
Priority: optional
Standards-Version: 4.3.0
Vcs-Git: https://github.com/dupr/duprkit.git
Vcs-Browser: https://github.com/dupr/duprkit
Maintainer: Mo Zhou <lumin@debian.org>
Build-Depends: debhelper-compat (= 11),

Package: duprkit
Architecture: all
Depends: ${misc:Depends}, debhelper, devscripts, build-essential,
         python3, python3-all, git, wget, debmake,
Description: D**ian User Package Repository Toolkit
 Dasteriskian User Package Repository Toolkit aims at getting scutwork done.
 .
 DISCLAIMER
 .
 Everything included in this package is totoally unrelated to the Debian
 Project, or any OFFICIAL Debian development. Debian Project is not responsible
 for any consequence resulted by utilization of the D**ian User Package
 Repository Toolkit or any related .durpkg collections or single .durpkg files.
 .
 Please Take your own risk utilizing the toolkit, and please review every line
 of code before execution.
