Source: duprkit
Section: admin
Homepage: https://github.com/dupr/duprkit
Priority: optional
Standards-Version: 4.3.0
Vcs-Git: https://github.com/dupr/duprkit.git
Vcs-Browser: https://github.com/dupr/duprkit
Maintainer: Mo Zhou <cdluminate@gmail.com>
Build-Depends: debhelper-compat (= 11),
               python3 <!nocheck>,
               python3-chardet <!nocheck>

Package: duprkit
Architecture: all
Depends: aria2,
         build-essential,
         ccache,
         curl,
         debmake,
         devscripts,
         fd-find,
         gawk,
         git,
         python3 (>= 3.6~),
         python3-all,
         python3-chardet,
         python3-nltk,
         python3-numpy,
         python3-scipy,
         python3-yaml,
         rakudo,
         wget,
         ${misc:Depends}
Description: Debian User Recipe Toolkit
 DUR Toolkit (durkit) is a set of tools designed for creating and utilizing
 user packaging recipe, which aims to simplify the source tree debianization
 process.  A recipe defines how to get the source package and how to debianize
 the source tree, and can be transformed into a debianized source tree, .dsc
 files, or .deb files directly, at user's option.  A set of recipe files form
 a Collection, namely a Debian User Repository.
