Source: #PACKAGE#
Section: unknown
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: <insert the upstream URL, if relevant>
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
#Vcs-Browser: https://salsa.debian.org/debian/#PACKAGE#
#Vcs-Git: https://salsa.debian.org/debian/#PACKAGE#.git
#Testsuite: autopkgtest-pkg-python

Package: python-#PACKAGE#
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-#PACKAGE#-doc
Description: <insert up to 60 chars description> (Python 2)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 2.

Package: python3-#PACKAGE#
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-#PACKAGE#-doc
Description: <insert up to 60 chars description> (Python 3)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 3.

Package: python-#PACKAGE#-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description> (common documentation)
 <insert long description, indented with spaces>
 .
 This is the common documentation package.
